.footer__container {
    padding-bottom: 65px;
    padding-top: 76px;
}
.htc__copyright__area {
    border-top: 1px solid #d9d9d9;
}
.copyright__inner {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.footer__menu {
    display: flex;
}
.footer__details p {
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
}
.ft__logo {
    margin-bottom: 24px;
}
.ft__title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.faq_style {
    color: #ffffff;
}
.htc__news__inner {
    position: relative;
}
.subscribe__btn {
    position: absolute;
    right: 9px;
    top: 0;
}
.news__input input {
    border: 1px solid #d9d9d9;
    color: #666666;
    font-size: 12px;
    height: 40px;
    padding: 0 46px 0 15px;
}
.subscribe__btn input {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    height: 40px;
}
.footer__inner p {
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
}
.social__icon {
    display: flex;
}
.social__icon li {
    padding: 0 10px;
}
.social__icon li:first-child {
    padding-left: 0;
}
.social__icon li a i {
    border: 1px solid #c2c2c2;
    border-radius: 100%;
    color: #c1c1c1;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 28px;
}
.social__icon li a:hover i {
    background: #7D6DFF none repeat scroll 0 0;
    border: 1px solid #7D6DFF;
    color: #fff;
}
.copyright p {
    color: #666666;
    font-size: 14px;
}
.footer__menu li a {
    color: #666666;
    font-size: 13px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.footer__menu li {
    padding: 0 14px;
}
.footer__menu li:last-child {
    padding-right: 0;
}
.ft__widget.contact__us {
  left: 58px;
  position: relative;
}
.ft__title--2 {
  color: #444444;
  font-size: 20px;
  margin-bottom: 32px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
.ft__title--2::before {
    background: #666666 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 80px;
}
.footer__inner p a {
  color: #666666;
}
.footer--7 .ft__logo {
  margin-bottom: 33px;
}
.footer--7 .htc__copyright__area {
  border-top: 1px solid #fff;
}











/*-----------------------------
  Footer Four
----------------------------------*/

.fixed__footer .htc__foooter__area.footer--4 {
  position: inherit;
}

.footer--4 .ft__widget.follow-us {
  left: 77px;
  position: relative;
}
.footer--4 .ft__widget.contact__us {
  left: 138px;
}



/*--------------------------
  Footer Six
---------------------------*/

.footer--6 .footer__menu {
  justify-content: center;
}

.footer--6 .copyright__inner {
  height: auto;
  justify-content: center;
}

.footer--6 .ft__widget__content {
    text-align: center;
}
.footer--6 .copyright {
    border-top: 1px solid #d9d9d9;
    margin-top: 24px;
    padding-top: 26px;
}
.footer--6 .ft__widget.follow-us {
  margin-left: -15px;
}
.footer__menu li a:hover {
  color: #7D6DFF;
}
.footer--6 .ft__widget.contact__us {
  left: 204px;
}
.footer--6 .footer__container {
  padding-bottom: 0;
  padding-top: 115px;
}








