{% extends 'campusbuy2_0/base.html' %}
{% load static %}

    {% block content %}
            <!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area"
                style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg'%}) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bradcaump__inner text-center">
                                    <h2 class="bradcaump-title">About Us</h2>
                                    <nav class="bradcaump-inner">
                                        <a class="breadcrumb-item" href="index.html">Home</a>
                                        <span class="brd-separator">/</span>
                                        <span class="breadcrumb-item active">About Us</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- Start Our Store Area -->
            <section class="htc__store__area ptb--120 bg__white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section__title section__title--2 text-center">
                                <h2 class="title__line">Welcome To The CampusBuy Store</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore gna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                </p>
                            </div>
                            <div class="store__btn">
                                <a href={% url 'contact' %}>contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Our Store Area -->
    {% endblock %}