{% extends 'campusbuy2_0/base.html' %}
{% load static %}
{% block content %}
            <!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area"
                style="background: rgba(0, 0, 0, 0) url({%static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bradcaump__inner text-center">
                                    <h2 class="bradcaump-title">Ads</h2>
                                    <nav class="bradcaump-inner">
                                        <a class="breadcrumb-item" href="index.html">Home</a>
                                        <span class="brd-separator">/</span>
                                        <span class="breadcrumb-item active">Ads</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- Start Our Product Area -->
            <section class="htc__product__area shop__page ptb--130 bg__white">
                <div class="container">
                    <div id="product-list" class="htc__product__container">
                        <!-- Start Product MEnu -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filter__menu__container">
                                    <div class="product__menu">
                                        <button data-filter="*" class="is-checked">All</button>
                                        <button data-filter=".Gadgets">Gadgets</button>
                                        <button data-filter=".Accommodation">Accommodation</button>
                                        <button data-filter=".Events">Events</button>
                                        <button data-filter=".Clothing & Accessories">Clothing & Accessories</button>
                                        <button data-filter=".Services">Services</button>
                                        <button data-filter=".Others">Others</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product MEnu -->

                        {% include 'campusbuy2_0/all_products_ajax.html' %}

                        <!-- Start Load More BTn 
            <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <a href="#">load more</a>
                    </div>
                </div>
            </div>
          <!- End Load More BTn -->
                    </div>
                </div>
            </section>
            <!-- End Our Product Area -->


{% endblock %}
{% block domready %}
var page = 1;

    var block_request = false;

    var empty_page = false;

    $(window).scroll(function(){
        var margin = $(document).height() - $(window).height() - 600;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request == true;
            page += 1;
            $.get('?page=' + page, function(data){
                if(data == ''){
                    empty_page = true;
                }
                else{
                    block_request  = false;
                    $('#product-list').append(data);
                }
            });
        }
    });
{%endblock%}
