 {% extends 'campusbuy2_0/base.html' %}
{% load static %}
 {% block content %}
 {% load humanize %}
            <!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area"
                style="background: rgba(0, 0, 0, 0) url({%static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bradcaump__inner text-center">
                                    <h2 class="bradcaump-title">Ads</h2>
                                    <nav class="bradcaump-inner">
                                        <a class="breadcrumb-item" href="index.html">Home</a>
                                        <span class="brd-separator">/</span>
                                        <span class="breadcrumb-item active">Ads</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- Start Our Product Area -->
            <section class="htc__product__area shop__page ptb--130 bg__white">
                <div class="container">
                    <div class="htc__product__container">
                        <!-- Start Product MEnu -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="filter__menu__container">
                                    <div class="product__menu">
                                        <button data-filter="*" class="is-checked">All</button>
                                        <button data-filter=".Gadgets">Gadgets</button>
                                        <button data-filter=".Accommodation">Accommodation</button>
                                        <button data-filter=".Events">Events</button>
                                        <button data-filter=".Clothing & Accessories">Clothing & Accessories</button>
                                        <button data-filter=".Services">Services</button>
                                        <button data-filter=".Others">Others</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Product MEnu -->
                        {% for product in all_products %}
                        <div class="row product__list">
                            <!-- Start Single Product -->
                            <div class="col-md-4 single__pro col-lg-3 {{ product.category }} col-sm-6">
                                <div class="product foo">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
                                           {% if school_name %}
                                                <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.name pk=product.pk %}>
                                                <img src="images/product/1.png" alt="product images">
                                            </a>
                                            {% else %}
                                                <a href={% url 'product_detail'  category_name=product.category.name pk=product.pk %}>
                                                <img src="images/product/1.png" alt="product images">
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product__details">
                                        <h2><a href={% url "product_detail" pk=product.pk category_name=product.category.name %}> {{ product.name }}</a></h2>
                                        <ul class="product__price">
                                            <li class="new__price">&#x20A6;{{ product.price |intcomma }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->

                        </div>
                        {% endfor %}
                        <!-- Start Load More BTn 
            <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <a href="#">load more</a>
                    </div>
                </div>
            </div>
          <!- End Load More BTn -->
                    </div>
                </div>
            </section>
            <!-- End Our Product Area -->


 {% endblock %}