{% extends 'campusbuy2_0/base.html' %}
{% load static %}

{% block content %}
 <!-- Start Contact Area -->
            <section class="htc__contact__area ptb--120 bg__white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-sm-12">
                            <div class="htc__contact__container">
                                <div class="htc__contact__address">
                                    <h2 class="contact__title text">contact info</h2>
                                    <div class="contact__address__inner">
                                        <!-- Start Single Adress -->
                                        <div class="single__contact__address">
                                            <div class="contact__icon">
                                                <span class="ti-location-pin"></span>
                                            </div>
                                            <div class="contact__details">
                                                <p>Location : <br> Hall 3, Hall 4 or any LT with Electricity, University of Benin</p>
                                            </div>
                                        </div>
                                        <!-- End Single Adress -->
                                    </div>
                                    <div class="contact__address__inner">
                                        <!-- Start Single Adress -->
                                        <div class="single__contact__address">
                                            <div class="contact__icon">
                                                <span class="ti-mobile"></span>
                                            </div>
                                            <div class="contact__details">
                                                <p> Phone : <br><a href="tel:+2348138931117">+2348138931117</a></p>
                                            </div>
                                        </div>
                                        <!-- End Single Adress -->
                                        <!-- Start Single Adress -->
                                        <div class="single__contact__address">
                                            <div class="contact__icon">
                                                <span class="ti-email"></span>
                                            </div>
                                            <div class="contact__details">
                                                <p> Mail :<br><a
                                                        href="mailto:campusbuyinfo@gmail.com">campusbuyinfo@gmail.com</a>
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End Single Adress -->
                                    </div>
                                </div>
                                <div class="contact-form-wrap">
                                    <div class="contact-title">
                                        <h2 class="contact__title">We Would Love To Hear From You</h2>
                                    </div>
                                    <form id="contact-form" action="mail.php" method="post">
                                        <div class="single-contact-form">
                                            <div class="contact-box name">
                                                <input type="text" name="name" placeholder="Your Name*">
                                                <input type="email" name="email" placeholder="Mail*">
                                            </div>
                                        </div>
                                        <div class="single-contact-form">
                                            <div class="contact-box subject">
                                                <input type="text" name="subject" placeholder="Subject*">
                                            </div>
                                        </div>
                                        <div class="single-contact-form">
                                            <div class="contact-box message">
                                                <textarea name="message" placeholder="Message*"></textarea>
                                            </div>
                                        </div>
                                        <div class="contact-btn">
                                            <button type="submit" class="fv-btn">SEND</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="form-output">
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Area -->
 {% endblock%}