{% extends 'campusbuy2_0/base.html' %}

{% load static %}

{% block content %}

    <!-- Start Bradcaump area -->
                <div class="ht__bradcaump__area"
                    style="background: rgba(0, 0, 0, 0) url({% static "images/bg/2.jpg" %}) no-repeat scroll center center / cover ;">
                    <div class="ht__bradcaump__wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="bradcaump__inner text-center">
                                        <h2 class="bradcaump-title">FAQ</h2>
                                        <nav class="bradcaump-inner">
                                           {% if school_name_for_url %}
                                             <a href={% url 'school_specific' school_name=school_name_for_url%}>Home</a>
                                           {% else %}
                                             <a href={% url 'homepage' %}> Home </a>
                                           {% endif %}
                                            <span class="brd-separetor">/</span>
                                            <span class="breadcrumb-item active">FAQ</span>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Bradcaump area -->

                <section class="ptb--140">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="flat-title">
                                    <h2>Ordering & Payment</h2>
                                </div><!-- /.flat-title -->
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <div class="toggle-title active">
                                            How do I change or cancel my order?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            I placed an order, but never received a confirmation email.
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            What payment methods do you accept?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            I am an international customer and I am not sure how much I'll be charged
                                            for a purchase
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->
                                </div><!-- /.flat-accordion -->
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="flat-title">
                                    <h2>Tracking Your Order</h2>
                                </div><!-- /.flat-title -->
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            How do I check on the status of my order?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            I am an international customer and I want to return an item.
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            My tracking info shows my package was delivered, but I never received it.
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            How long does it take to process returns?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->
                                </div><!-- /.flat-accordion -->
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="flat-title">
                                    <h2>Size Guide</h2>
                                </div><!-- /.flat-title -->
                                <div class="flat-accordion">
                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            I'm an international Fashionista. How do I find out what my size is?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            What are the inseams of your jeans?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle ">
                                        <div class="toggle-title">
                                            What is your turn around time? When can I expect to receive my hand made
                                            garment?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->

                                    <div class="flat-toggle">
                                        <div class="toggle-title">
                                            What if my clothing does not fit?
                                        </div>
                                        <div class="toggle-content">
                                            <p>
                                                We’re super quick at processing orders to make sure that you receive
                                                them as soon as possible. You can change your order as much as you like
                                                before you click “Check- out” but after this point you will be unable to
                                                make changes to your order. Keep in mind our system is designed to
                                                fulfill orders as quickly as possible. We cannot cancel or change an
                                                order once it has been placed. In such case you can however, return the
                                                item to us in accordance with our Returns Policy. If we sent out your
                                                package and your items are returned to us (Packages marked "Return to
                                                Sender") due to an incorrect/undeliverable address, we will issue a
                                                store credit for the net total minus the shipping fee. You will be held
                                                responsible for the initial cost of shipping the package.
                                            </p>
                                        </div>
                                    </div><!-- /.flat-toggle -->
                                </div><!-- /.flat-accordion -->
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section><!-- /.flat-row -->

{% endblock %}