{%extends 'campusbuy2_0/base.html' %}
{% load static %}
{%block content %}


    <div class="ht__bradcaump__area"
                    style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}}) no-repeat scroll center center / cover ;">
                    <div class="ht__bradcaump__wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="bradcaump__inner text-center">
                                        <h2 class="bradcaump-title">Product Details</h2>
                                        <nav class="bradcaump-inner">
                                            <a class="breadcrumb-item" href="index.html">Home</a>
                                            <span class="brd-separetor">/</span>
                                            <a class="breadcrumb-item" href="merchant.html">Merchant Account</a>
                                            <span class="brd-separetor">/</span>
                                            <span class="breadcrumb-item active">Product Stat</span>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Bradcaump area -->
                <!-- Start Product Details -->
                <section class="htc__product__details pt--120 pb--100 bg__white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 col-sm-12">
                                <div class="product__details__container">
                                    <div class="product__big__images">
                                        <div class="portfolio-full-image tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="img-tab-1">
                                                <img src="images/product-details/big-img/1.png" alt="full-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-sm-12 smt-30 xmt-30">
                                <div class="htc__product__details__inner">
                                    <div class="pro__detl__title">
                                        <h2> {{product.name}} </h2>
                                        <p><span class="zmdi zmdi-eye"></span> {{ product.views }}</p>
                                    </div>
                                    <div class="pro__details">
                                        <p>{{ product.description }} </p>
                                    </div>
                                    <ul class="pro__dtl__prize">
                                        <li>&#x20A6;{{ product.price }}</li>
                                    </ul>
                                    <div class="product-action-wrap">
                                        <div class="prodict-statas"><span>Location : {{ product.merchant.address }}</span></div>
                                    </div>
                                     <form class="login login--account" action="{%url 'product_delete' product.pk%}"  method="POST" enctype="multipart/form-data">
                                         {% csrf_token %}
<!--                                        <ul class="pro__dtl__btn row">-->
                                        <ul class="htc__login__btn mt--30 row">
                                            <li class="buy__now__btn"  style="margin-right:10px;"><a href="{% url 'product_edit' pk=product.pk %}">Edit</a></li>
                                            <li><input class = "buy__now__btn delete__pro" onclick="void(0)" type="submit" value="DELETE" style="background-color:#ff0000;color:#fff"></li>
                                        </ul>
                                     </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Product Details -->

                <div class="delete--product" aria-hidden="true">
                    {{product.name}} has just been deleted
                    <br>
                    You'll be redirected to your profile in 2 seconds.
                </div>

{% endblock %}