{% extends 'campusbuy2_0/base.html' %}
{% load cloudinary %}
{% load humanize %}
{% block content %}
{% load static %}
{#{% load cloudinary %}#}
{%load nigerian%}
<!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area"
                style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bradcaump__inner text-center">
                                    <h2 class="bradcaump-title">Product Details</h2>
                                    <nav class="bradcaump-inner">
                                        {% if school_name %}
                                    <a href={% url 'school_specific' school_name=school_name_for_url%}>Home</a>
                                 {% else %}
                                    <a href={% url 'homepage' %}> Home </a>
                                 {% endif %}
                                        <span class="brd-separetor">/</span>
                                        {% if school_name %}
                                            <a href={% url 'view_product_school_specific' subcategory=subcategory school_name=school_name_for_url category_name=category_name  %} >Shop</a>
                                        {% else %}
                                        <a href={% url 'view_products' subcategory=category_name category_name=category_name%} >Shop</a>
                                        {% endif %}
                                        <span class="brd-separetor">/</span>
                                        <span class="breadcrumb-item active">Product Details</span>
                                    </nav>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->
            <!-- Start Product Details -->
            <section class="htc__product__details pt--120 pb--100 bg__white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-sm-12">
                            <div class="product__details__container">
                                <div class="product__big__images">
                                    <div class="portfolio-full-image tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="img-tab-1">
                                            <img src="{{ product.image.url }}" alt="full-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-sm-12 smt-30 xmt-30">
                            <div class="htc__product__details__inner">
                                <div class="pro__detl__title">
                                    <h2>{{ product.name }}</h2>
                                    {% if school_name %}
                                        <p>Sold by <a href={% url 'shop_school_specific' school_name=school_name business_name=product.merchant.business_name %}>{{ product.merchant.business_name }}</a></p>
                                    {% else %}
                                        <p>Sold by <a href={% url 'shop' business_name=product.merchant.business_name %}>{{ product.merchant.business_name }}</a></p>
                                    {% endif %}
                                </div>
{#                                <div class="pro__dtl__rating">#}
{#                                    <ul class="pro__rating">#}
{#                                        <li><span class="ti-star"></span></li>#}
{#                                        <li><span class="ti-star"></span></li>#}
{#                                        <li><span class="ti-star"></span></li>#}
{#                                        <li><span class="ti-star"></span></li>#}
{#                                        <li><span class="ti-star"></span></li>#}
{#                                    </ul>#}
{#                                    <span class="rat__qun">(Based on 0 Ratings)</span>#}
                                </div>
                                <div class="pro__details">
                                    <p>{{ product.description }}</p>
                                </div>
                                <ul class="pro__dtl__prize">
                                    <li>&#x20A6;{{ product.price|intcomma }}</li>
                                </ul>
                                <div class="product-action-wrap">
                                    <div class="prodict-statas"><span>Location :</span> {{ product.merchant.address }}</div>
                                </div>
                                <div class="product-action-wrap">
                                    <div class="prodict-statas"><span>Preferred Meetup Location :</span> {{ product.dropoff_point }}</div>
                                </div>
                                <ul class="pro__dtl__btn">
                                    <li class="buy__now__btn"><a href="tel:{{ product.merchant.phone_number }}">call now</a></li>
                                    <li><a href="https://wa.me/{{product.merchant.whatsapp_number|nigerianalize}}/?text=Hi%20{{business_name}}%2CI%20saw%20your%20advert%20on%20https%3A%2F%2Fcampusbuy%2Eonline%20I'm%20interested%20in%20the%20{{ product.name }}%20you're%20selling"><span class="zmdi zmdi-whatsapp"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Product Details -->

            <!-- Start More Products from this merchant -->
             <section class="htc__popular__product bg__white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section__title section__title--2 text-center">
                                <h2 class="title__line">More from this Merchant</h2>
                                <p>Swipe left or right to view more products from this merchant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="popular__product__wrap clearfix owl-carousel owl-theme">
                              {% for product in other_products_from_merchant %}
                            <!-- Start Single Merchant Product -->
                            <div class="col-lg-12">
                                <div class="product">
                                    <div class="product__inner">
                                        <div class="pro__thumb">
                                            {% if school_name %}
                                                <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=product.category pk=product.pk %}>
                                                {% cloudinary product.image THUMBNAIL %}
                                            </a>
                                            {% else %}
                                                <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=product.category pk=product.pk %}>
                                                {% cloudinary product.image THUMBNAIL %}
                                            </a>
                                            {% endif %}
                                    </div>
                                    <div class="product__details">
                                        <h2>
                                            {% if school_name %}
                                                <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=product.category pk=product.pk %}>{{ product.name }}</a>
                                            {% else %}
                                                <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=product.category pk=product.pk %}>{{ product.name }}</a>
                                            {% endif %}
                                        </h2>
                                        <ul class="product__price">
                                            <li class="new__price">&#x20A6;{{ product.price | intcomma }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                         {% endfor %}

                    </div>
                </div>
             </section>
            <!-- End  More products from this merchant -->



            <!-- Start Similar products section -->
            <section class="htc__product__area shop__page pt--80 pb--130 bg__white">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="section__title section__title--2 text-center">
                                        <h2 class="title__line">Similar Products</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="htc__product__container">
                                <div class="row product__list">
                                    {% for product in similar_products %}
                                    <!-- Start Single Product -->
                                    <div class="col-md-4 single__pro col-lg-3 col-sm-6">
                                        <div class="product foo">
                                            <div class="product__inner">
                                                <div class="pro__thumb">
                                                 {% if school_name %}
                                                <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=product.category pk=product.pk %}>
                                                {% cloudinary product.image THUMBNAIL %}
                                            </a>
                                            {% else %}
                                                <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=product.category pk=product.pk %}>
                                                {% cloudinary product.image THUMBNAIL %}
                                            </a>
                                            {% endif %}
                                                </div>
                                            </div>
                                            <div class="product__details">
                                                <h2> {% if school_name %}
                                                <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=product.category pk=product.pk %}>{{ product.name }}</a>
                                            {% else %}
                                                <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=product.category pk=product.pk %}>{{ product.name }}</a>
                                            {% endif %}
                                                </h2>
                                                <ul class="product__price">
                                                    <li class="new__price">&#x20A6;{{ product.price | intcomma }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- End Single Product -->
                                </div>
                            </div>
                        </div>
            </section>
            <!-- End of Similar projects area -->



{% endblock %}