{% extends 'campusbuy2_0/base.html' %}
{% block content %}
   {% load static %}
{#{% load cloudinary %}#}

<!-- Start Bradcaump area -->
            <div class="ht__bradcaump__area"
                style="background: rgba(0, 0, 0, 0) url({% static "images/bg/2.jpg" %}) no-repeat scroll center center / cover ;">
                <div class="ht__bradcaump__wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="bradcaump__inner text-center">
                                    <h2 class="bradcaump-title">{{ category }}</h2>
                                    <nav class="bradcaump-inner">
                                        {% if school_name %}
                                    <a href={% url 'school_specific' school_name=school_name_for_url%}>Home</a>
                                 {% else %}
                                    <a href={% url 'homepage' %}> Home </a>
                                 {% endif %}
                                        <span class="brd-separetor">/</span>
                                          <span class="breadcrumb-item active">
                                               {% if school_name %}
                                                    <a href={% url 'view_product_subcat_school_specific' school_name_for_url parent_category %} {{ parent_category }}>{{ parent_category }}</a>
                                              {% else %}
                                                    <a href={% url 'view_product_subcat' parent_category %}> {{ parent_category }}</a>
                                              {% endif %}
                                          </span>

                                          <span class="brd-separetor">/</span>
                                        <span class="breadcrumb-item active">{{ category }}</span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Bradcaump area -->

            <!-- Start Our Product Area -->
            <section id="product-list" class="htc__product__area shop__page ptb--130 ptb--210 bg__white">
                <div  class="container">
                    <div   class="htc__product__container">
                        <div class="row product__list">
                            {% include "campusbuy2_0/products_ajax.html" %}
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}

{% block domready %}

var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function(){
    var margin = $(document).height() - $(window).height() - 600;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false){
        block_request == true;
        page += 1;
        $.get('?page=' + page, function(data){
            if(data == ''){
                empty_page = true;
            }
            else{
                block_request  = false;
                $('#product-list').append(data);
            }
        });
    }
});
{% endblock %}