{%load static%}
{% load cloudinary %}
{% load humanize %}

{% for product in products %}
<!-- Start Single Product -->
<div class="col-md-4 single__pro col-lg-3 cat--1 col-sm-6">
    <div class="product foo">
        <div class="product__inner">
            <div class="pro__thumb">
                {% if school_name %}
                    <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=category pk=product.pk %}>
                    {% cloudinary product.image THUMBNAIL %}
                </a>
                {% else %}
                    <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=category pk=product.pk %}>
                    {% cloudinary product.image THUMBNAIL %}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="product__details">
            <h2>
                {% if school_name %}
                    <a href={% url 'product_detail_school_specific' school_name=school_name_for_url category_name=product.category.category.name subcategory=category pk=product.pk %}>{{ product.name }}</a>
                {% else %}
                    <a href={% url 'product_detail'   category_name=product.category.category.name subcategory=category pk=product.pk %}>{{ product.name }}</a>
                {% endif %}
            </h2>
            <ul class="product__price">
                <li class="new__price">&#x20A6;{{ product.price| intcomma }}, "CHEAP!!</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Single Product -->
{% endfor %}